#!/usr/bin/make -f


# Get the package version from the changelog file.
DEB_UPSTREAM_VERSION ?= $(shell dpkg-parsechangelog \
                          | sed -rne 's/^Version: ([0-9.]+)[-+].*$$/\1/p')


%:
	dh $@

override_dh_auto_install:
	npm install --global --prefix debian/electron/usr/local/ electron@${DEB_UPSTREAM_VERSION}
